html, body, #root {
    height: 100vh;
    /* overflow-y: hidden; */
}
/* 
* {
    border: 1px cyan dashed;
} */

body {
    background-image: url(bg.png);
    background-attachment: fixed;
    background-size: cover;
    color: rgb(247, 233, 233);
    margin-left: 7px;
}

#root {
    display: flex;
    flex-flow: row;
}

#sidebar {
    min-width: 240px;
}

#main_panel {
    flex-basis: 100%;
    padding-left: 16px; 
    /* overflow-y: scroll; */
}

#movie_list {
    display: flex;
    flex-flow: row wrap;
    
}

.movie-item {
    margin-bottom: 16px;
    margin-right: 24px;
}

.movie-item > h3 {
    margin-bottom: 4px;
    margin-top: 8px;
}

.movie-item > img {
    cursor: pointer;
}

#sidebar > ul {
    list-style-type: none;
    padding-left: 8px;
}


#sidebar > ul > li {
    height: 52px;
    line-height: 52px;
    font-size: 1.3em;
    cursor: pointer;
}
#sidebar > ul > li:hover {
    background-color: #7272ddb7;
    border-left: 1px solid aquamarine ;
}







